.App {
  text-align: center;
  background-color: #202020;
  color: white;
}

.nav-link {
  text-decoration: none;
  background-color: rgb(196, 196, 196);
  color: black !important;
  font-size: 18px;
  border-radius: 16px;
}

.navItem {
  padding: 5px;
}

